@import './variables';

.th-btn{
    color: $color-white;
    font-weight: bold;
    outline: none;
    font-size: 1.8rem;
    width: 15rem;
    height: 5rem;
    padding: 1.4rem 3rem;
    border-radius: 6rem;
    text-transform: uppercase;
    margin: 0rem 1rem;

    &:hover{
        cursor: pointer;
        box-shadow: -1px 1px 6px 3px #a28d88;
    }

    &:active{
        transform: scale(0.95);
    }

    &--primary{
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(80deg, #bd0909, #E1A223);
        border: none;
    }

    &--secondary{
        border: 1px solid #fff;
        background-color: rgba(0, 0, 0, 0.103);
    }
}