@import './variables';

//GRID LAYOUT --- BEGIN

.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0rem auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col{
        background-color: $color-white;
        float: left;
        width: 100%;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - (#{$gutter-horizontal})*2) / 3);
    }

    .col-2-of-3 {
        width: calc(((100% - (#{$gutter-horizontal})*2) / 3)*2 + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - (#{$gutter-horizontal})*3) / 4);
    }

    .col-2-of-4 {
        width: calc(((100% - (#{$gutter-horizontal})*3) / 4)*2 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(((100% - (#{$gutter-horizontal})*3) / 4)*3 + #{$gutter-horizontal} * 2);
    }

    .col-1-of-5 {
        width: calc((100% - (#{$gutter-horizontal})*4) / 5);
    }

    .col-2-of-5 {
        width: calc(((100% - (#{$gutter-horizontal})*4) / 5)*2 + #{$gutter-horizontal});
    }

    .col-3-of-5 {
        width: calc(((100% - (#{$gutter-horizontal})*4) / 5)*3 + #{$gutter-horizontal} * 2);
    }

    .col-4-of-5 {
        width: calc(((100% - (#{$gutter-horizontal})*4) / 5)*4 + #{$gutter-horizontal} * 3);
    }
}

//GRID LAYOUT --- END