$grid-width: 1140px;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-white: #fff;
$color-black: #000;
$color-gray-1: #333;
$color-gray-2: #555;





@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}