<header class="header-section">
    <a href= "/"><img src="assets/img/th_logo.png" class="header-section__logo" /></a>
    <button id="th-login" class="header-section__btn th-btn th-btn--secondary">Login</button>
    <div class="th-dropdown th-dropdown--login">
        <a href="/job-applicants.html" class="th-dropdown__item">Aplikante</a>
        <a href="/employers.html" class="th-dropdown__item">Employer</a>
    </div>
    <button id="th-register" class="header-section__btn th-btn th-btn--primary">Register</button>
    <div class="th-dropdown th-dropdown--register">
        <a href="/gbl_member_open_home_register_crt.html" class="th-dropdown__item">Aplikante</a>
        <a href="/gbl_organization_register_panel_a_entity_crt.html" class="th-dropdown__item">Employer</a>
    </div>
</header>

