
@import './../../../../assets/scss/variables';

.header-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-black;
    padding: 1rem;
    width: 100%;

    
    &__logo{
        position: absolute;
        top: 0rem;
        left: 3rem;
        width: 10.7rem;
        height: 9.6rem;
    }
}

.th-dropdown{
    position: absolute;
    color: $color-gray-1;
    top: 6rem;
    background-color: $color-white;
    border-radius: 3px;
    padding: .5rem 0rem;
    z-index: 10000000;

    &:active{
        transform: scale(1.01)
    }

    &:hover, &:focus{
        display: block;
    }

    &--register{
        right: 1rem;
        display: none;
    }

    &--login{
        right: 18rem;
        display: none;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 6rem;
        padding: 0rem;
        background-color: transparent;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.9rem;
        color: $color-gray-1;

        &:hover{
            cursor: pointer;
            text-decoration: none;
            color: $color-gray-2;
        }

        &:last-child{
            border-top: .5px solid #777 !important;
        }

        &:visited{
            text-decoration: none;
        }
    }
}

#th-login:focus + div, #th-register:focus + div{
    display: block !important;
}