@import 'assets/scss/base';
@import 'assets/scss/components';
@import 'assets/scss/layout';
@import 'assets/scss/pages';
@import 'assets/scss/utils';
@import 'assets/scss/variables';

// .th-section{
//     width: 100%;
// }
            



@media only screen and (min-width:320px) {
    html{
        font-size: 40%;
    }
}
@media only screen and (min-width:480px) { 
    html{
        font-size: 45%;
    }
}
@media only screen and (min-width:600px) {
    html{
        font-size: 50%;
    }
}
// @media only screen and (min-width:801px) {
//     html{
//         font-size: 62.5%;
//     }
// }
// @media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }